.collection{
    background: url('../media/collection/background_img.png') no-repeat;
    background-size: cover;
    padding: 70px 165px;
    margin-bottom: 70px;
}

.collection_title h2, .collection_desc p, .team_desc h2, .team_desc p{
    font-weight: 500;
    font-family: var(--Raleway_M);
}
.collection_title{
    width:50%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.collection_title h2{
    color: var(--white);
    font-size: 40px;
    margin-left: 20px;
}
.collection_desc{
    width:50%;
}
.collection_desc p{
    color: var(--white);
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 20px;
}
.collection_desc p:last-child{
    margin-bottom: 0px;
}
.collection_desc{
    margin-bottom: 60px;
}
.team{
    padding: 0 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}
.team_desc{
    width: 640px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.team_desc h2, .team_desc p{
    color: var(--dark_gray);
    margin-bottom: 20px;
}
.team_desc h2{
    font-size: 40px; 
}
.team_desc p{
    font-size: 18px;
    line-height: 150%;
}

.team_photo{
    display: flex;
    align-items: center;
}
.team_photo img{
    margin-right: 30px;
}
.team_photo img:last-child{
    margin-right: 0px;
}

@media(max-width:780px){
    .collection{
        padding: 70px 39px;
        background-size: auto;
    }
    .collection_title{
        width: 70%;
    }
    .collection_title h2{
        font-size: 30px;
    }
    .collection_desc{
        width: 100%;
        margin-bottom: 30px;
    }
    .team{
        flex-direction: column;
        align-items: flex-start;
        padding: 0 39px;
    }
   .main_img{
        margin-bottom: 40px;
    }
    .team_desc h2, .team_desc p{
        margin-bottom: 30px;
    }
    .team_desc{
        width: 100%;
        margin-left: 0;
    }
}
@media(max-width:580px){
    .collection{
        padding: 50px 33px;
        margin-bottom: 50px;
    }
    .collection_title h2,.team_desc h2{
        font-size: 24px;
    }
    .collection_title{
        margin-bottom: 20px;
    }
    .collection_desc{
        margin-bottom: 20px;
    }
    .collection_desc p,.team_desc p{
        font-size: 16px;
        line-height: 140%;
    }
    .team{
        padding: 0px 33px;
        margin-bottom: 50px;
     }
    .main_img{
        margin-bottom: 30px;
        width:375px;
        height: 370px;
    }
    .team_desc h2, .team_desc p{
        margin-bottom: 20px;
    }
}

@media(max-width:320px){
    .collection{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 50px 15px;
        margin-bottom: 60px;
    }
    .collection_title{
        align-items: flex-start;
        width: 100%;
        margin-bottom: 20px;
    }
    .collection_title img{
        width: 50px;
        height: 50px;
    }
    .collection_title h2{
        margin-left: 10px;
    }
    .collection_desc{
        margin-bottom: 30px;
    }
    .collection button{
        padding: 14px 83px;
        font-size: 18px;
    }
    .team{
        padding: 0px 15px;
        margin-bottom: 94px;
    }
    .main_img{
        width:290px;
        height: 290px;
    }
    .team_photo img{
        margin-right: 25px;
    }  
    
}
