.header_nav, .header{
    display: flex;
    align-items: center;
    
}
hr, .burger_menu{
    display: none;
}

.burger_menu{
    border: none;
    background: transparent;
}

.header{
    background: var(--light_green);
    padding: 30px 165px;
    justify-content: space-between;
}

.header_links{
    margin-right:60px;
}
nav{
    justify-content: center;
}

@media(max-width:780px){
    .header{
        padding: 30px 40px;
        justify-content: center
    }
    .header_nav{
        margin-left: 100px;
    }
    .header_links{
        font-size: 18px;
    }
}

@media(max-width:580px){
    .header{
        flex-direction: column;
        padding: 16px 33px;
    }
    hr{
        display: initial;
        width: 100%;
        margin: 16px 0;
    }
    .header_nav{
        width: 100%;
        margin-left: 0;
        justify-content: space-between;
    }
}

@media(max-width:320px){
    .header{
        padding: 16px;
    }
    .header_links{
        display: none;
    }
    hr{
        display: none;
    }
    .burger_menu{
        display: initial;
    }
}